WebAppProject/__pycache__/__init__.cpython-38.pyc
WebAppProject/__pycache__/views.cpython-38.pyc
WebProject/__pycache__/urls.cpython-38.pyc
WebProject/__pycache__/wsgi.cpython-38.pyc
WebAppProject/__pycache__/admin.cpython-38.pyc
WebAppProject/__pycache__/models.cpython-38.pyc
WebAppProject/__pycache__/urls.cpython-38.pyc
WebAppProject/migrations/__pycache__/__init__.cpython-38.pyc
WebProject/__pycache__/settings.cpython-38.pyc
WebProject/__pycache__/settings.cpython-38.pyc
WebProject/__pycache__/settings.cpython-38.pyc
WebAppServicios/__pycache__/admin.cpython-38.pyc
WebProject/__pycache__/settings.cpython-38.pyc
WebAppServicios/__pycache__/admin.cpython-38.pyc
WebProject/__pycache__/settings.cpython-38.pyc
