{% extends 'WebAppProject/base.html' %} {% load static %} {% block content %}
{%for post in posts%}

<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img
        class="intro-img img-fluid mb-3 mb-lg-0 rounded"
        src="{{post.imagen.url}}"
        alt="{{post.titulo}}"
        style="width: 500px"
      />
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-blog-title">{{post.titulo}}</span>
          <span class="section-blog-cat">
            {%for categoria in post.categorias.all%}
              {{categoria.nombre}}
            {% endfor %} 
          </span>
          <span class="section-blog-data">{{post.updated}}</span>          
          <br />
          <span class="section-blog-content">{{post.contenido}}</span>
          <span class="section-blog-author">Autor: {{post.autor}}</span>
        </h2>
      </div>
    </div>
  </div>
</section>

{% endfor %} 

<section>
  <div class="section-categories">
    <p>
      Categorias:&nbsp;&nbsp;&nbsp;
      {%for post in posts%}
        {%for categoria in post.categorias.all%}
          {{categoria.nombre}} &nbsp;&nbsp;&nbsp;
        {% endfor %} 
      {% endfor %} 
    </p>
  </div>
</section>

{% endblock %}
